:root {
    --ecoSense-green:#abc964;
    --ecosense-dgreen:rgb(48, 199, 140);
    --ecoSense-red:rgb(230, 115, 107);
    --ecoSense-red-2:rgb(255, 157, 150);
    --ecoSense-orange:rgb(242, 189, 83);
    --ecoSense-grey:rgb(146, 142, 127);
    --background:white;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin:0;
   height:150vh;
    /*width: 100%;
    height:200vh;
    overflow:hidden;*/
    background-color: #2E3B52
    
    ;
    
}
body::-webkit-scrollbar {
    /*cutomizing the scrollbar in website(1)*/
      width: 12px;
    }
    
body::-webkit-scrollbar-track {
    /*cutomizing the scrollbar in website(2)*/
      background: var(--ecoSense-grey);
    }
    
body::-webkit-scrollbar-thumb {
    /*cutomizing the scrollbar in website(3)*/
      background-color: white;
      border-radius: 10px;
      border: 3px solid var(--ecoSense-grey);
      height: 30px;
    }

.nav {
    width: 100%;
    height: 65px;
    z-index:3;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family:"Montserrat";
}

.nav div.logo a:hover {
    color: var(--ecoSense-green);
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.25rem;
    font-family: "Montserrat";
}

.nav div.main_list ul li a:hover {
    color:var(--ecoSense-grey);
}


/* Home section */

.home {
    width: 100%;
    height: 140vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:#2E3B52;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #2E3B52;
}
/*----------------------------------------------*/
/*Styling elements of footer of the page(Line 363-440)
Inspiration-Link:https://codepen.io/baahubali92/pen/drrWEB*/
.contact-area {
    border-bottom: 1px solid white;
  }
  
  .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
  }
  
  .contact-content p::after {
    background: white;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
  }
  
  .contact-content h6 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .contact-content span {
    color: white;
    margin: 0 10px;
  }
  
  .contact-social {
    margin-top: 30px;
    margin-left: 45%;
  }
  
  .contact-social > ul {
    display: inline-flex;
  }
  
  .contact-social ul li a {
    border: 1px solid white;
    color: white;
    display: inline-block;
    height: 40px;
    margin: 10px;
    padding-top: 7px;
    padding-left: 10px;
    transition: all 0.4s ease 0s;
    width: 40px;
  }
  
  .contact-social ul li a:hover {
    border: 1px solid var(--ecoSense-red);
    color: var(var(--ecoSense-red));
  }
  
  .contact-content img {
    max-width: 210px;
  }
  
  .contact-area,
  footer {
    background: var(--ecoSense-red);
  }
  
  footer p {
    padding: 40px 0;
    text-align: center;
  }
  
  footer img {
    width: 44px;
  }
  /*----------------------------------------------*/
