:root {
    --ecoSense-green:#abc964;
    --ecosense-dgreen:rgb(48, 199, 140);
    --ecoSense-red:#e6736b;
    --ecoSense-orange:rgb(242, 189, 83);
    --ecoSense-grey:rgb(146, 142, 127);
    --background:white;

}
body{
    background-color: #abc964 !important;
}

.nav-bar{
    margin:0 auto;
    max-width:70%;
    color:white;
}
.nav-elem{
    display:inline-block !important;
    height:3% !important;
    margin: 3% !important;
    font-size:16px !important;
    font-family:"Montserrat" !important;
}

.nav-elem-first{
    display:inline-block !important;
    height:3% !important;
    font-family:"Montserrat" !important; 
    margin:1.5% !important;
    margin-top:0% !important;
    margin-left:20% !important;
    
}

.nav-elem-last{
    display:inline-block !important;
    height:30px !important;
    margin:1.5% !important;
    margin-top:0% !important;
    margin-left:10% !important;
    left:2px !important;
    font-family:"Montserrat" !important;
    
}

.nav-elem:hover{
    cursor: pointer !important;
    color: 	#848884 !important;
}
.nav-elem-first:hover{
    cursor: pointer !important;
    color: 	#848884 !important;
}

.nav-elem-last{
    border: 0px !important;
    width:100px !important;
    font-size:16px !important;
    border: 2px solid var(--ecoSense-green) !important;
  border-radius: 3rem !important;
  color:var(--ecoSense-green) !important;
  overflow: hidden !important;
  position: relative !important;
  text-decoration: none !important;
  transition: 0.2s transform ease-in-out !important;
  will-change: transform !important;
  z-index: 0 !important;
  background-color: var(--background) !important;
}

.nav-elem-last::after {
    background-color:var(--ecoSense-green) !important;
    border-radius: 3rem !important;
    content: '' !important;
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    transform: translate(-100%, 0) rotate(10deg) !important;
    transform-origin: top left !important;
    transition: 0.2s transform ease-out !important;
    will-change: transform !important;
    z-index: -1 !important;
  }
  .nav-elem-last:hover::after {
    transform: translate(0, 0) !important;
  }
.nav-elem-last:hover {
    border: 2px solid transparent !important;
    color:white !important;
    transform: scale(1.05) !important;
    will-change: transform !important;
  }
  
.image-logo{
    cursor:pointer !important;
}
