:root {
    --ecoSense-green:#abc966;
    --ecosense-dgreen:#30c78c;
    --ecoSense-red:#e6736a;
    --ecoSense-orange:#f2bd53;
    --ecoSense-grey:#928e7f;

}

.nav-bar{
    margin-left:15%;
    color:white;

}

.nav-elem{
    display:inline-block;
    height:3%;
    margin: 1.5%;
    font-family:"Montserrat";
    cursor:none;
}

.nav-elem-first{
    display:inline-block;
    height:3%;
    font-family:"Montserrat"; 
    margin:1.5%;
    margin-left:15%;
    
}

.nav-elem-last{
    display:inline-block;
    height:3%;
    margin:1.5%;
    margin-left:15%;
    font-family:"Montserrat";
    color:white;
    
}



.nav-elem:hover{
    cursor:none;
    color: 	#848884;
}
.nav-elem-first:hover{
    cursor:none;
    color: 	#848884;
}

.nav-elem-last{
    border: 0px;
    border-radius:20px;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.image-logo{
    cursor:pointer;
}


