/*External CSS,the design for "login.php",
Project:ecoSense - Website
Author:Harli Laçej
Date: 26/10/2022*/

:root {
  /*creating variables that store the values of the colors used on the website*/
  --ecoSense-green: #abc964;
  --ecosense-dgreen: rgb(48, 199, 140);
  --ecoSense-red: #e6736b;
  --ecoSense-orange: rgb(242, 189, 83);
  --ecoSense-grey: rgb(146, 142, 127);
  --background: #2e3b52;
}
* {
    /*This properties have impact in all html elements*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*defining the height and the background*/
  background-color:var(--background);
  height: 120vh;
}

body::-webkit-scrollbar {
  /*cutomizing the scrollbar in website(1)*/
  width: 12px;
}

body::-webkit-scrollbar-track {
  /*cutomizing the scrollbar in website(2)*/
  background: var(--ecoSense-grey);
}

body::-webkit-scrollbar-thumb {
  /*cutomizing the scrollbar in website(3)*/
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--ecoSense-grey);
  height: 30px;
}

.nav-bar {
    /*Setting navigation bar in top of the page and full width*/
  margin: 0 auto;
  max-width: 100%;
}

.nav-elem-first {
    /*positioning and styling the elment,where is shown the String "Home"*/
  display: inline-block;
  height: 3%;
  font-family: "Montserrat";
  margin: 1.5%;
  margin-top: 0%;
  margin-left: 50%;
  font-size: 1.25rem;
}

.nav-elem-first:hover {
    /*changing color if the mouse is over the navigation bar element*/
  cursor: pointer;
  color: #848884;
}

.image-logo {
  cursor: pointer;
}

.links-nav {
    /*styling the links in the navigation bar*/
  color: var(--background);
  text-decoration: none;
}

.links-nav:hover {
  color: #ffffff70;
  text-decoration: none;
}
