.image-signup{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

:root {
    --ecoSense-green:#abc964;
    --ecosense-dgreen:rgb(48, 199, 140);
    --ecoSense-red:#e6736b;
    --ecoSense-orange:rgb(242, 189, 83);
    --ecoSense-grey:rgb(146, 142, 127);
    --background:white;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4CD4B0;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background:var(--ecoSense-grey);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color:white;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid var(--ecoSense-grey);  /* creates padding around scroll thumb */
    height:30px;
}
  

.nav-bar{
    margin:0 auto;
    max-width:70%;
}
.nav-elem{
    display:inline-block;
    height:3%;
    margin: 3%;
    font-size:16px;
    font-family:"Montserrat";
}

.nav-elem-first{
    display:inline-block;
    height:3%;
    font-family:"Montserrat"; 
    margin:1.5%;
    margin-top:0%;
    margin-left:20%;
    
}

.nav-elem-last{
    display:inline-block;
    height:30px;
    margin:1.5%;
    margin-top:0%;
    margin-left:10%;
    left:2px;
    font-family:"Montserrat";
    
}

.nav-elem:hover{
    cursor: pointer;
    color: 	#848884;
}
.nav-elem-first:hover{
    cursor: pointer;
    color: 	#848884;
}

.nav-elem-last{
    border: 0px;
    width:100px;
    font-size:16px;
    border: 2px solid var(--ecoSense-green);
  border-radius: 3rem;
  color:var(--ecoSense-green);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  background-color: var(--background);
}

.nav-elem-last::after {
    background-color:var(--ecoSense-green);
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .nav-elem-last:hover::after {
    transform: translate(0, 0);
  }
.nav-elem-last:hover {
    border: 2px solid transparent;
    color:white;
    transform: scale(1.05);
    will-change: transform;
  }
  
.image-logo{
    cursor:pointer;
}
#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #4CD4B0; 
  --gradient-color-2: #FFFCE6; 
  --gradient-color-3: #F24D16;  
  --gradient-color-4: #EDD834;
}

.header{
    font-family:"Montserrat";
    font-weight:bold;
    width:800px;
    margin-left:20%;
    margin-top:8%
}

.main-info{
    font-size: 50px;
    font-family:"Montserrat";
    color:white;
    font-weight: 300;

}
h3{
    font-size: 15px;
    font-family:"Montserrat";
    color:white;
    font-weight: 300; 
}
.loader-wrapper{
    width:100%;
    height:100%;
    z-index:1;
    position:fixed;
    top:0;
    left:0;
    background-color:white;
    display: flex;
    justify-content:center;
    align-items: center;
}

.links-nav{
    color:var(--background);
    text-decoration: none;
}

.links-nav:hover{
    color:#ffffff70;
    text-decoration: none;
}


/*Code taken from:https://www.codeply.com/go/orizmNWvT3/css-only-typing-animation-with-multiple-words*/
h1 {
    font-size: 3rem;
    font-weight: 300;
    font-family:"Montserrat";
    text-decoration:none;
}

.text-typing, .text-nowrap {
    white-space:nowrap;
    display: block;
}

a {
    color:var(--background);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    background-image: linear-gradient(180deg,transparent 75%,#fcf113 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size .4s ease;
    transition: background-size .4s ease;
    text-decoration:none;
}


.learn-more-btn{
    border-radius: 3rem;
    color:var(--background);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    background-color: var(--ecoSense-orange);
    height:40px;
    width:150px;
    padding:3px;
    font-family:"Montserrat";
    font-weight:500;
    border: 0px;
    padding-left:5px;
    padding-right:5px;
}

.learn-more-btn:hover{
    background-color:rgba(242, 189, 83, 0.685);
    ;
}

.learn-more-div{
    left:50%;
    padding-top:100px;
    width:20%;
    margin: auto;
}
 
/*.img-footer{
    position: absolute;
    left:-10000%; right: -10000%; 
    top: 100%; bottom: -100%;
    margin: auto auto;
    max-width: 10%;
    max-height: 10%;
    -webkit-transform:scale(10);
    transform: scale(10);
    z-index: -1;

}*/

.cp-footer{
    color:white;
}
.d{
    width:50%;
    margin: auto;
    z-index:100;
    margin-bottom:0;
    background-color: red;
    height:200px;
}

.footer{
    width:100%;
    margin-top:100%;
    position:absolute;
    bottom:10%;
    padding-top:15px;
    padding-left:15%;
    background:var(--ecoSense-red);
    font-family:"Montserrat";
    bottom: 0;
}

.svg-color-edit{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(66deg) brightness(108%) contrast(98%);
}